@use 'sass:math';

@function rem($px) {
  @return math.div($px, 16px) * 1rem;
}

.nav-item {
  cursor: pointer;
}

.templateListUl > li {
  cursor: pointer;
  line-height: 2.4;
}

.backToList {
  font-size: rem(12px) !important;
}

.formAlert {
  border: 1px solid #c00 !important;
  background: #fdd !important;
}

@media (min-width: 992px) {
  .navbar-nav {
    .nav-item {
      margin-left: 30px;
    }
  }
}